<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/submittodoitem" method="POST">
        <input name="itemId" placeholder="Item ID">
        <br>
        <input name="itemUUID" placeholder="Item UUID">
        <br>
        <input name="itemHash" placeholder="Item Hash">,
        <br>
        <input name="itemName" placeholder="Item Name">
        <br>
        <textarea name="itemDescription" placeholder="Description about the task"></textarea>
        <br>
        <button>Submit</button>
    </form>
</body>
</html>